.modal {
    visibility: hidden;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.modal_is-opened {
    visibility: visible;
    opacity:1;
    transition-delay:0s;
}

.modal__container {
    background-color: white;
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    padding: 32px 50px;
    position: relative;
    box-sizing: border-box;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    padding: 0;
    background: none;
    border: none;
}

.modal__close-icon {
    opacity: 40%;
}

.modal__close-icon:hover {
    opacity: 100%;
    cursor: pointer;
}

.modal__submit-btn {
    max-width: 156px;
    height: 52px;
    background-color: #212121;
    color: white;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", Helvetica, sans-serif;
    border: 1px solid rgba(33, 33, 33, 1);
    border-radius: 8px;
    
}

.modal__submit-btn:hover {
    cursor: pointer;
    opacity: 80%;
}

.modal__title {
    margin: 0 0 32px;
    line-height: 1;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", Helvetica, sans-serif;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #212121B2;
}

.modal__input{
    display: block;
    padding: 0 12px 0;
    margin: 8px 0 0;
    max-width: 630px;
    width: 100%;
    height: 52px;
    border: 1px solid rgba(33, 33, 33, 0.4);
    border-radius: 8px;
    box-sizing: border-box;
}

.modal__input:hover {
    border: 1px solid rgba(33, 33, 33, 1);
    cursor: pointer;
}


.modal__input::placeholder {
    color: #2121214D;
}

@media screen and (max-width: 627px) {
    .modal__container{
        padding: 24px 12px 12px;
    }
    .modal__title {
        margin: 0 0 24px;
        font-size: 20px;
    }
    
    .modal__label {
        margin: 0 0 32px;
    }

    .modal__submit-btn {
        max-width: none;
    }
}